body {
    margin: 0px;
}


.top-wrapper {
    size: 500px;
    background-color: rgb(28, 146, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.nav_link_wrapper > .nav-link a {
color: blue;
height: 40px;
margin-left: 80px;

display: grid;
grid-template-columns: row;
grid-gap: 10px;
grid-row:;


}

.page-content > .image-wrapper img {
    
        height: 100%;
        width: 100%;
      
        background-image: url(../images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
       
        
        
}